@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800;600");



body {
  margin: 0;
  padding: 0;
  background-color: #3535c9;
  /* background-image: url('/venice.png'); */
  background-size: cover;
  color: rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
}
